<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Education</h5>
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="education-item p-3">
          <i class="fas fa-graduation-cap fa-2x"></i>
          <div>
            <h6 class="highlight">Master’s in Computer Science</h6>
            <p class="card-text"><span class="university">California State University, Dominguez Hills</span>, Carson, CA, USA</p>
            <p class="card-text"><i class="fas fa-calendar-alt"></i> AUG 2023 – 2025</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-3">
        <div class="education-item p-3">
          <i class="fas fa-graduation-cap fa-2x"></i>
          <div>
            <h6 class="highlight">Bachelor’s in Computer Science and Engineering</h6>
            <p class="card-text"><span class="university">Lovely Professional University</span>, Punjab, India</p>
            <p class="card-text"><i class="fas fa-calendar-alt"></i> JUNE 2018 – AUG 2022</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
