<footer class="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-4 mb-2">
        <a href="mailto:rakeshmareddy42@gmail.com" target="_blank">
          <i class="fas fa-envelope"></i> Gmail
        </a>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <a href="https://github.com/JamesJava42" target="_blank">
          <i class="fab fa-github"></i> GitHub
        </a>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <a href="https://www.linkedin.com/in/rakesh-reddy-51588a202" target="_blank">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
      </div>
    </div>
  </div>
</footer>
