<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">About Me</h5>
    <div class="about-item p-3">
      <i class="fas fa-user-circle fa-2x text-primary"></i>
      <p class="card-text">
        I am a highly skilled <span class="highlight">Software Engineer</span> with expertise in <span class="highlight">full-stack development</span>, <span class="highlight">cloud computing</span>, and the latest advancements in <span class="highlight">virtual reality</span>. My proficiency in <span class="highlight">DevOps practices</span> and 
        <span class="highlight">automated testing</span> enables me to drive seamless integration and continuous delivery in agile environments. With a proven track record of developing scalable, high-performance software 
        solutions, 
        I am eager to bring my diverse technical skill sets,
         where I can contribute to innovative projects that drive business success and enhance user engagement.
      </p>
    </div>
  </div>
</div>
