.card-title {
  font-weight: bold;
  font-size: 1.75rem;
  color: #2575fc; /* Matching primary color */
  margin-bottom: 20px;
  text-align: center; /* Center the title */
}

.about-item {
  background: #f4f7fa;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  font-size: 1.1rem;
  color: #333;
  padding: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Hover effect */
  flex-wrap: wrap; /* Allow wrapping of items inside capsule */
}

.about-item > i {
  margin-right: 15px;
  color: #6a11cb; /* Matching icon color */
}

.about-item:hover {
  transform: scale(1.05); /* Pop effect on hover */
  background-color: #b0b0b0; /* Darker silver on hover */
}

.highlight {
  font-weight: bold;
  color: #2575fc; /* Highlighted keyword color */
}
