<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Experience</h5>
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="experience-item p-3">
          <i class="fas fa-briefcase fa-2x"></i>
          <div class="experience-details">
            <h6 class="highlight">Tech Developer</h6>
            <p class="card-text"><span class="highlight">Innovation Incubator, CSUDH</span>, Carson, CA (2023 - Present)</p>
            <ul class="list-unstyled">
              <li><span class="highlight">Enhanced</span> user interfaces using <span class="highlight">AngularJS</span> and <span class="highlight">React</span></li>
              <li>Developed backend services using <span class="highlight">Java</span> with <span class="highlight">Spring Boot</span> and <span class="highlight">Node.js</span></li>
              <li>Administered <span class="highlight">AWS</span> and <span class="highlight">SQL Database</span></li>
              <li>Implemented data storage solutions with <span class="highlight">AWS S3</span></li>
              <li>Crafted efficient APIs and server-side applications to support scalable business logic</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-3">
        <div class="experience-item p-3">
          <i class="fas fa-briefcase fa-2x"></i>
          <div class="experience-details">
            <h6 class="highlight">Backend Developer (JAVA)</h6>
            <p class="card-text"><span class="highlight">Great Software Laboratory</span>, Pune, India (2021 - 2022)</p>
            <ul class="list-unstyled">
              <li><span class="highlight">Designed</span> and developed <span class="highlight">RESTful APIs</span> with industry standards</li>
              <li>Implemented <span class="highlight">CI/CD pipelines</span> using <span class="highlight">Jenkins</span> and <span class="highlight">Azure DevOps</span></li>
              <li>Automated deployment scripts and managed <span class="highlight">Docker containers</span></li>
              <li>Managed <span class="highlight">AWS cloud infrastructures</span> focusing on high availability and fault tolerance</li>
              <li>Supported cross-functional teams by troubleshooting and optimizing DevOps processes</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-3">
        <div class="experience-item p-3">
          <i class="fas fa-briefcase fa-2x"></i>
          <div class="experience-details">
            <h6 class="highlight">Full Stack Developer - JAVA</h6>
            <p class="card-text"><span class="highlight">Vanna Infotech Pvt Ltd</span>, Hyderabad, India (2020 - 2021)</p>
            <ul class="list-unstyled">
              <li><span class="highlight">Deployed</span> APIs in <span class="highlight">AWS cloud EC2 Instance</span></li>
              <li>Created <span class="highlight">CI/CD pipelines</span> using <span class="highlight">Bitbucket</span></li>
              <li>Implemented <span class="highlight">security</span> within <span class="highlight">Spring Boot</span> applications</li>
              <li>Developed and deployed <span class="highlight">microservices architectures</span> utilizing <span class="highlight">Docker</span> and <span class="highlight">Kubernetes</span></li>
              <li>Led the design and development of <span class="highlight">RESTful APIs</span> with comprehensive documentation using <span class="highlight">Swagger</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
